
.card-wr {

  

    .select-candidate {
        margin-left: 20px;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }

    .btns {
        margin-top: 30px;
        margin-left: 20px;
    }
}