

.apl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    button {
        height: 20px;
    }
}

.adm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 5px;

    button {
        height: 20px;
        margin-left: 5px;
        padding-bottom: 10px;
        
    }
}