

.apl {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    // background-color: #ffffb0;
    background-color: rgb(53, 53, 53);
    color: #cccc6afd;
    height: 80px;
    box-shadow: 1px 7px 13px 5px rgba(0,0,0,0.30);

    h2 {
        font-weight: 400;
        letter-spacing: 3px;
    }


    button {
        padding: 8px;
        margin-bottom: 25px;
        height: 25px;
        text-align: center;
        margin-left: 5px;
        padding-bottom: 20px; 
        background-color:#cccc6afd;
        border-radius: 5px;
        border: none;
        color:rgb(53, 53, 53);
        cursor: pointer;

        &:hover {
            background-color: #7f9b9b;
            color: #EDEDD0;
        }
    }
}

.adm {
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    box-shadow: 1px 7px 13px 5px rgba(0,0,0,0.30);

    h2 {
        font-weight: 500;
        color: #cccc6afd;
        letter-spacing: 2px;
        
       
    }

    button {
        padding: 8px;
        margin-bottom: 25px;
        padding-bottom: 20px; 
        height: 25px;
        text-align: center;
        margin-left: 5px;
        background-color: #cccc6afd;
        border-radius: 5px;
        border: none;
        color:rgb(53, 53, 53);
        cursor: pointer;

        &:hover {
            background-color: #7f9b9b;
            color: #EDEDD0;
        }

    }
    
}