
.company-card {

    p {
        font-size: 23px;
        border: 1px solid black;
        background-color: #ededd05b;
        padding: 3px;
        cursor: pointer;
        margin-bottom: 3px;
        border-radius: 5px;
        
    }

    .active {
        background-color: tomato;
    }
}