
.company-card {

    p {
        font-size: 23px;
        border: 2px solid #152222;
        padding: 3px;
        cursor: pointer;
        margin-bottom: 3px;
        border-radius: 5px;
        &:hover {
            box-shadow: 1px 7px 13px 5px rgba(0,0,0,0.30);
        }
     
    }
   
    
}
.active {
    background-color: #cccc6afd;
}

