

.companies-wr {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;

    .companies {
        
    
        p {
            font-size: 23px;
            border: 1px solid black;
            padding: 3px;
            cursor: pointer;
            margin-bottom: 3px;
            border-radius: 5px;
            
        }
    }

    .btns {
        margin-top: 30px;

        button {
            margin-right: 5px;
        }
    }
}