
.apl-home {

height: 100%;
p {
    color: whitesmoke;

  
}

    .candidates-cards {
       
        width: 90%;
        margin: 0 auto;
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .link {
            text-decoration: none;
        } 

    }

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        padding: 0 10px;

        


        .search-inp {
            input {
                height: 30px;
                background-color: #bdd3d3;
                border: 1px solid gray;
                outline: none;
                border-radius: 5px;
            }
        }

        p {
            color: rgb(53, 53, 53);;
            font-size: 25px;
            font-weight: 700;
            letter-spacing: 2px;
        }
    }
}

